$font-stack: "Helvetica", sans-serif

$black: #000000
$white: #FFFFFF
$blue: #0000FF

$fontLarge: 1.5rem
$fontMedium: 1.125rem
$fontSmall: 0.8125rem

body
  font-family: $font-stack
  font-size: 100%


h1
  font-size: 1.5rem
  font-weight: normal


b
  font-weight: bold
