---
layout: default
---
<style type="text/css">
{% for project in site.projects %}
{% if project.lightText == true %}
a.{{ project.title | slugify }}:visited {
  background-color: {{ project.projectColor }};
  color: white;
}
a.{{ project.title | slugify }}:hover {
  background-color: {{ project.projectColor }};
  color: white;
}
a.{{ project.title | slugify }}:hover h3, a.{{ project.title | slugify }}:hover small {
  opacity: 1;
}
a.{{ project.title | slugify }}:active {
  background-color: {{ project.projectColor }};
  color: white;
}
{% else %}
a.{{ project.title | slugify }}:visited {
  background-color: {{ project.projectColor }};
}
a.{{ project.title | slugify }}:hover {
  background-color: {{ project.projectColor }};
}
a.{{ project.title | slugify }}:hover h3, a.{{ project.title | slugify }}:hover small {
  opacity: 1;
}
a.{{ project.title | slugify }}:active {
  background-color: {{ project.projectColor }};
}
{% endif %}
{% endfor %}
</style>
<div class="projectsWrapper">
  {% for project in site.projects reversed %}
    <a href="{{ site.baseurl }}{{ project.url }}" class="project {{ project.title | slugify }}{% if project.lightText == true %} lightText{% endif %}">
      <h3>{{ project.title }}</h3>
      <small>{{ project.location }}</small>
      <small>{{ project.workCategory }}</small>
      <small>{{ project.projectDate }}</small>
    </a>
  {% endfor %}
</div>
