footer
  width: 250px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  a, p
    font-size: $fontSmall
    margin: 0
    line-height: 1.25rem

@media screen and(max-width: 800px)
  footer
    width: 250px
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    .footerContact
      margin-bottom: 1rem
