.paginator
  width: 100%
  height: 24px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  a.paginatorBack, a.paginatorNext
    &:hover
      opacity: 0.75
    svg
      height: 24px
      width: 24px
