<meta charset="utf-8">
<title>{{ site.title }} - Visual Communication</title>
<meta name="description" content="{{ site.description | truncate: 160 }}"/>
<meta name="keywords" content="Visual Communicator, Designer, Graphic Designer, Print Design, David Gurr, David Gurr Design, David Gurr Visual Communicator"/>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, viewport-fit=cover"/>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<link href="{{ site.baseurl }}/favicon.png" rel="shortcut icon" type="image/x-icon" />
<link href="{{ site.baseurl }}/apple-touch-icon.png" rel="apple-touch-icon" />
<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:site_name" content="{{ site.title }} - Visual Communicator" />
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/og-image.png" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/og-image.png"/>
<meta name="twitter:title" content="{{ site.title }}" />
<meta name="twitter:description" content="{{ site.description }}"/>
<meta name="twitter:site" content="@DavidGurr"/>
<!--Application ID-->
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "{{ site.url }}",
		"@type": "Organization",
		"name": "{{ site.title }}",
		"url": "{{ site.url }}",
		"logo": "{{ site.url }}{{ site.baseurl }}/og-image.png",
		"sameAs": [
			"https://www.linkedin.com/in/david-gurr-26290984/",
			"https://twitter.com/DavidGurr",
			"https://www.instagram.com/davidgurr/",
			"https://www.facebook.com/Gurrmon",
			"https://www.behance.net/davidgurr",
      "https://workingnotworking.com/66858-david"
		]
	}
</script>
