---
layout: default
---
<div class="projectContentWrapper">
  {% include paginator.html %}
  <div class="projectContentContainer">
    <div class="mainProjectContent">
      <h1>{{ page.title }}</h1>
      <small>{{ page.projectDate }}</small>
      {{ content }}
      <a href="mailto:{{ site.email }}">Contact</a>
    </div>
    <div class="projectImages">
      <img src="{{ site.baseurl }}/assets/img/{{ page.primaryImage }}" width="100%" height="auto"/>
      <div class="imageGrid">
        {% for item in page.images %}
        <img src="{{ site.baseurl }}/assets/img/{{ item }}" />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
